#clickWidgetContainer {
    width: 34em;
    background: #ffffff;
    padding: 1.25em;
    margin: 5.5em auto;
    border-radius: 0.4em;
    height: 9em;
    border: 2px solid gray;
}

#clickWidgetContainer #clickHeader {
    text-align: center;
    background-color: #FEFFED;
    border-radius: 0.25em;
    margin: -39px -20px 10px -20px;
}

#clickWidgetContainer h2{
    padding-top: 10px;
}

p#timeresult {
    margin-top: 40px;
    text-align: center;
}