doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    link(rel="stylesheet", href="resources/css/myStyle.css")
    // Link for font
    link(rel="preconnect", href="https://fonts.googleapis.com")
    link(rel="preconnect", href="https://fonts.gstatic.com", crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Bungee&family=Nunito+Sans:ital,wght@0,400;0,600;0,700;1,700&display=swap", rel="stylesheet")
    link(rel="preconnect", href="https://fonts.googleapis.com")
    link(rel="preconnect", href="https://fonts.gstatic.com", crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Graduate&display=swap", rel="stylesheet")
    title Log in
  body#contactMeBody
    include theNav.pug
    if loggedin
      header#contactMeheader Hi #{user}
      .formBox
        form(action="/theNav", method="POST")
          input(type="submit", value="Logout")
    else 
      header#contactMeheader Log in
      .formBox
        form(action="/theNav", method="POST")
          label
            | Username :
            input#username(type="text", name="username", required)
            br
          label
            | Password :
            input#password(type="password", name="password", required)
            br
          br
          input(type="submit", value="Submit") 

