#tapbar
  nav
    a.navbar(href="myAboutMe") About me
    a.navbar(href="myWidgets") Widgets
    a.navbar(href="myContacts") Contacts
    a.navbar(href="contactMe") Contact me
    a.navbar(href="contactLog") Contact log
    a.navbar(href="login") #{user || "Login"} 